.itemBackground {
  background-color: #000;
  margin-top: 70px;
  padding-top: 15px;
  min-height: 100vh;
}

@media (max-width: 992px) {
  .itemBackground {
    margin-top: 50px;
    padding-top: 15px;
    min-height: 90vh;
  }
}

.headerSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menuItemList {
  position: relative;
}

@media (max-width: 992px) {
  .headerSection {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
  }
}

.viewCart {
  position: fixed;
  z-index: 99;
  width: 100%;
//   top: 71px;
  bottom:0;
  color: #fff;
  background-color: #262626;
  .viewCartContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  button {
    padding: 16px 20px;
    font-size: 1rem;
    outline: none;
    background-color: red;
    outline: none;
    border-radius: 14px;
    border: none;
    color: #fff;
  }
}

@media (max-width: 992px) {
  .viewCart {
    // top: 60px;
    bottom:0;
    button {
        background: rgba( 255, 255, 255, 0.45 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }
  }
}
