.homePage{
    position:relative;
}
.homepage_addBtn{
    position: absolute;
    right:30px;
    bottom:30px;
    position: fixed;
    padding:15px;
    border-radius: 50%;
    background-color: red;
    border:none;
    z-index:99; 
    color:#fff;
}
.homepage_icon{
    font-size: 2rem !important;
}

@media(min-width:780px){
    .homepage_addBtn{
        position: absolute;
        right:25px;
        bottom:20px;
        position: fixed;
        padding:25px;
        border-radius: 50%;
        background-color: red;
        border:none;
        z-index:99;
        color:#fff;
    }
    
}